<h1>Users#new</h1>



<div class="container">

        
        
        <div class="col-md-4">
        <h3>Register</h3>
        <form action="/create" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <label>Alias</label>
            <input type="text" name="user[alias]">
            <label>Password</label>
            <input type="password" name="user[password]">
            <input type="submit" value="Register">
        </form>
        <%= flash[:register_errors] %>
        
        
        </div>
        
        <div class="col-md-4">
        <h3>Login</h3>
        <form action="/login" method="POST">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <label>Alias</label>
          <input type="text" name="user[alias]">
          <label>Password</label>
          <input type="text" name="user[password]">
          <input type="submit" value="Login">
        </form>
        <%= flash[:login_errors] %>
        
        </div>

        <div class="col-md-4">
        </div>
        
        
   
</div>
