<!DOCTYPE html>
<head>
 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Image Portal -- image posting -- art  / design / music / ">
    <meta name="author" content="">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

   <script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
   <script type="text/javascript" src="/fancybox/jquery.easing-1.4.pack.js"></script>
   <script type="text/javascript" src="/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
   
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <%= stylesheet_link_tag "thumbnail-gallery.css" %>
    <%= stylesheet_link_tag "application.css" %>
</head>
<body>
 <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
                <a class="navbar-brand" href="/images/index"><span> image portal</span></a> 
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                       
                    </li>
                    <li>
                   <!--      <a href="https://github.com/jahopp23/image_portal2">Code</a> -->
                    </li>
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
       <div class="container">
       <div class="row">
    
            <div class="col-lg-12 text-center">
                                <sub>art // design // fashion </sub>
                <h3><strong>{ <span class="glyphicon glyphicon-picture"></span> }</strong></h3>               
              
  <thead>
    <tr>
      <th><a href="/images/new">post image</p></th>
      <th><a href="/about">about</a></th>

    </tr>
    </thead>
    
                  
            
                
            
            </div> 
        </div>

        <div id="about" class="row">
    
    
    
    </div>
    <div class="col-md-4">
    </div>
    
    <div class="col-md-4">
 
    <div class="thumbnail">
    <p>Welcome to Image Portal! A platform for art, design, and fashion related images! The application is currently under construction and expected updates are to include: user interaction and sharing to social media! For now, you can use Image Portal to post the most<em> stellar</em> of images. Why? Because the web needs a place where art, design, and fashion are taken <em>seriously</em>. Content may include: paintings, sculpture, graphic design, gif animations, album covers, photography [ fashion, nature, architectural ].</p>
    
    <p><strong>Rules: </strong></p>
    <ul>
    <li>1. All content must be legal in the United States</li>
    <li>2. Content must be artistic</li>
    <li>3. No pornography</li>
    <li>4. No selfies</li>
    </ul>
    <p><strong>Please post according to the rules and stay synchronous with the themes of art, design, and fashion related material. Keep Image Portal a safe and friendly community.  <em>Thank You.</em></strong></p>
    
    </div>
    </div>
    
    <div class="col-md-4">
    </div>
    
    </div>
</body>
</html>
